<!-- <%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %> -->
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>ECharts</title>
  <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">

  <!-- 외부 라이브러리 -->
  <script type="text/javascript" src="./lib/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="./lib/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./lib/inapp.js"></script>
  <script src="./lib/echart/echarts.min.js"></script>

  <!-- 화면 소스 -->
  <script src="data_manage.js"></script>
  <script src="chart.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<style>
  body {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .panel-default{
    margin:7px
  }
  .col-sm-4{
    padding : 0px
  }

  .col-sm-6{
    padding : 0px
  }
</style>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>근속년수</strong></div>
          <div class="panel-body" id="doc1" style="height:100px;">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>연봉인상률</strong></div>
          <div class="panel-body" id="doc2" style="height:100px;">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>인센티브지급률</strong></div>
          <div class="panel-body" id="doc3" style="height:100px;">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>인건비 예산</strong></div>
          <div class="panel-body" id="doc4" style="height:280px;">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>인원정보</strong></div>
          <div class="panel-body" id="doc5" style="height:280px;">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>평가분포별 비율 및 인원</strong></div>
          <div class="panel-body" id="doc6" style="height:280px;">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>성비율 및 인원</strong></div>
          <div class="panel-body" id="doc7" style="height:280px;">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>평균연령</strong></div>
          <div class="panel-body" id="doc8" style="height:280px;">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>성비율 및 인건비</strong></div>
          <div class="panel-body" id="doc9" style="height:280px;">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>직원유형별 비율 및 인원</strong></div>
          <div class="panel-body" id="doc10" style="height:280px;">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>직군별 비율 및 인원</strong></div>
          <div class="panel-body" id="doc11" style="height:280px;">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>직종별 비율 및 인원</strong></div>
          <div class="panel-body" id="doc12" style="height:280px;">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>월별 평균 근로시간</strong></div>
          <div class="panel-body" id="doc13" style="height:280px;">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>인당 월별 평균 휴가 사용일수</strong></div>
          <div class="panel-body" id="doc14" style="height:280px;">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>월별 평균 출퇴근시간</strong></div>
          <div class="panel-body" id="doc15" style="height:280px;">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>월별 입/퇴사자 수</strong></div>
          <div class="panel-body" id="doc16" style="height:280px;">
          </div>
        </div>
      </div>
    </div>

  </div>


</body>

</html>